.Layout {
  background-color: #282c34;
  text-align: center;
  display: flex;
  width:100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fixed-navbar {
  position: fixed;
  top-margin: 0;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 30px;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 9px;
  padding: 20px;
  font-size: 60%;
}

.currency_list {
  margin-top: 100px
}

.chart_bttn{
  display: inline;
  font-size: 20px;
  color: #FFC312;
  background-color: #444;
  border: none;
  opacity: 0.6;
}

.chart_bttn:hover {
  transition: 0.3s;
  opacity: 1;
}

.icon_position {
  display: inline-block;
  vertical-align:middle;
}

.last24h_value {
  display: inline-block;
}
